/*
General
*/

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #000000;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
}

.regular-checkbox:checked {
    background-color: #c16010;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}

.recipe-text {
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.75em;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipetext {
    position: center !important;
}

.need {
    font-family: "Marck Script", cursive;
    font-size: 2em;
    margin-top: 0.5em;
}

.needtext {
    font-family: "Indie Flower", cursive;
    font-weight: 800;
}

.download {
    font-family: "Indie Flower", cursive;
    font-weight: 800;
    text-decoration: none;
    color: black;
    margin-bottom: 0.5em;
}

.download-button {
    border-radius: 15px;
    transition: 1s;
    font-family: "Indie Flower", cursive;
    font-weight: 800;
    text-decoration: none;
    color: black;
}

.download-button:hover {
    transform: scale(1.1);
}


/*.impressumtext {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.75em;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.impressumtitle {
    font-family: "Marck Script", cursive;
    font-size: 2em;
    margin-top: 0.5em;
}

.impressumtext {
    font-family: "Indie Flower", cursive;
    font-weight: 800;
}

.impressum-margin {
    position: absolute;
    top: 100px;
    width: 100%;
}

.slideshow-margin {
    position: absolute;
    top: 100px;
    width: 100%;
}


/*
Navbar
*/

.navbar {
    background: #c16010;
    z-index: 10;
    box-shadow: #c16010 0 0 10px;
    position: fixed !important;
    width: 100%;
}

.navbar img {
    width: 4%;
    width: 3em;
    margin-left: 6%;
}

.navbar ul {
    width: 100%;
}

.navbar li {
    width: 10%;
    /*text-align: right;*/
    margin-left: 9%;
}

.link1 {
    margin-left: 20%;
}

.nav-link {
    color: white !important;
    z-index: 10;
    transition: 0.4s;
}

.nav-link:hover {
    color: #5b3c21 !important;
}

.navbar .responsive-nav {
    position: absolute;
    overflow: hidden;
}

.index-title h1 {
    color: white;
    padding-top: 10%;
    text-shadow: orangered 0 0 3px;
    font-family: "Marck Script", cursive;
    text-align: center;
    margin-bottom: 1em;
}

.index-grid {
    background: white;
    width: 90%;
    box-shadow: orangered 0 0 5px;
    border-radius: 5px;
    margin: 0 auto;
}

.index-gridsm {
    background: white;
    width: 20%;
    box-shadow: orangered 0 0 5px;
    border-radius: 5px;
    margin: 0 auto;
}

.index-gridlg {
    background: white;
    width: 70%;
    box-shadow: orangered 0 0 5px;
    border-radius: 5px;
    margin: 0 auto;
}


/*
Parallax
*/

.parallax-image {
    background-image: url("images/cooking/16.jpg");
    max-width: 100%;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    z-index: -100;
}

.parallax {
    width: 100%;
}


/* 
Responsive
*/

@media (max-width: 991px) {
    .navimg {
        position: absolute;
        width: 0;
        height: 0;
    }
    .dropdown {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }
}

@media (max-width: 850px) {
    .navbar img {
        height: 40px;
        width: auto;
    }
}


/*
General
*/

a {
    color: #ffffff;
}

a:active {
    color: #aaaaaa;
}

@media (min-width: 1201px) {
    .carousel {
        width: 75%;
        height: 35em;
        margin-left: 12.5%;
        overflow: hidden;
    }
}

@media (min-width: 991px) AND (max-width: 1200px) {
    .carousel {
        width: 65%;
        height: 30em;
        margin-left: 17.5%;
        overflow: hidden;
    }
}

@media (max-width: 990px) {
    .carousel {
        width: 85%;
        height: 90%;
        margin-left: 7.5%;
        overflow: hidden;
    }
}


/*
IMG
*/

.recipe-container {
    position: absolute;
    width: 100%;
    height: 75%;
    overflow: hidden;
    z-index: -10;
}

recipe-margin {
    margin-left: 10%;
    margin-left: 10%;
}

.recipe-img img {
    position: absolute;
}

.distance {
    margin-top: 3em;
}

.bigimg {
    width: 100%;
}

#img1 {
    width: 100%;
    transform: scaleX(1.059);
    border-radius: 5px;
}


/*
Footer
======
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c16010;
    color: white;
    text-align: center;
}

.footerstyle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #c16010;
    color: white;
    overflow: hidden;
    font-size: 0.8em;
    box-shadow: #c16010 0 0 10px;
    padding-top: 0px;
    text-align: center;
}

.footerstyle-slideshow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #c16010;
    color: white;
    overflow: hidden;
    font-size: 1em;
    box-shadow: #c16010 0 0 10px;
    padding-top: 0px;
    text-align: center;
}

footer {
    ​​​​​position: fixed;
    bottom: 0px;
    width: 100%;
    background: #c16010;
    color: #fff;
    text-align: center;
    box-shadow: #c16010 0 0 5px;
    z-index: 10;
}

.paddingfix {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px;
}

​​​​​ #footerfix {
    margin-left: -25%;
}

.footerstyle .row {
    width: 90%;
    margin: 0 auto;
}

.socialmedia-icon {
    height: 16px;
}

.footerstyle .col-lg-2 {
    padding: 0;
    margin: 0;
}

.footerstyle .col-lg-12 {
    text-align: center;
}

footer .container-fluid .row div {
    text-align: center;
}

footer .container-fluid .row div a {
    color: white;
    transition: 0.4s;
}

footer .container-fluid .row div a:hover {
    color: #5b3c21;
}

footer .container-fluid .row div img {
    text-align: center;
    z-index: 100;
}


/*
Before/After
*/

.beforeafter {
    width: 100%;
}